div#colonne1 {
	float: left;
	width: 20%;
	background: white;
  	border : 1px solid lightblue;
  	border-radius : 8px 30px 15px 2px;
  	margin-right: 50px;
	margin-left:2%;
	margin-top : 50px;
	padding:5px;
}


div#colonne2 {
	float: right;
	width: 30%;
 	margin-left: 50px;
	margin-right:2%;
	margin-top : 50px;
}

div#colonne2 img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

div#centre {
  overflow: hidden;
}

div#centre img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	object-position: 50% 25%;
}

h1 {
	color : #045FB4;
	font-family: Verdana, arial;
	font-size:1.2em;
	text-transform:uppercase;
}
h2 {
	color : #045FB4;
	font-family: verdana, arial;
	font-size:1em;
}
p {
	color : #045FB4;
	font-family: verdana, arial;
	font-size:0.8em;
}
a {
	color : #045FB4;
}
