div#colonne1 {
	float: left;
	width: 160px;
	background: white;
  border : 2px solid blue;
  border-radius : 8px 30px 15px 2px;
  margin-right: 50px;
}


div#colonne2 {
	float: right;
	width: 300px;
	background: white;
  border : 2px solid blue;
  border-radius : 15px 50px 30px 5px;
  margin-left: 50px;
}


div#centre {
  overflow: hidden;
}
