div#colonne1 {
	float: left;
	width: 20%;
	background: blue;
  	border : 2px solid lightblue;
  	border-radius : 8px 30px 15px 2px;
  	margin-right: 50px;
	margin-left:10%;
	margin-top : 50px;
}


div#colonne2 {
	float: right;
	width: 40%;
 	margin-left: 50px;
	margin-right:10%;
	margin-top : 50px;
}

div#colonne2 img {
	max-width: auto;
	max-height: auto;
}

div#centre {
  overflow: hidden;
}

h1 {
	color : white;
	font-family: verdana, arial;
	font-size:1.2em;
}
h2 {
	color : white;
	font-family: verdana, arial;
	font-size:1em;
}
p {
	color : white;
	font-family: verdana, arial;
	font-size:0.8em;
}
a {
	color : white;
}
